body {
  font-family: 'Josefin Sans', sans-serif;
  line-height: 1.6;
  font-size: 16px;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
  color: #222;
}

button {
  padding: 0px 8px;
  margin-right: 8px;
  border-width: 1px;
  border-radius: 4px;
  font-size: 110%;
}
